.wrapper {
    position: relative;
}
#image {
    width: 400px;
    height: 600px;
    background-size: 400px auto;
}
#magnifier {
    background-size: 400px auto;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50px;
    transition: all .1s;
    pointer-events: none;
}